/* #region basic settings */
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}
a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   
}
a,ul{
    text-decoration: none;
    list-style: none;
}

h3 {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
p {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

/* #endregion basic settings */
/* #region container */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;


}
/* #endregion container */
/* #region logo */
.logo
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;


}
.logo-web{
    color: #4D5AE5;
    line-height: 1.16;

}
.logo-studio{
    color: #2E2F42;
    line-height: 1.16;
    

}
.footer-logo-studio{
    color: #F4F4FD;
}
/* #endregion logo */
/* #region header    */
.header-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}
header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
/* #region navigation */
.navigation{
    display: flex;
    gap: 40px;
    width: calc((100% - 80px) / 3 );
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

}
.main-navigation{
    display: flex;
    align-items: center;
    gap: 76px;

}
.active-link{
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-link::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: -3px;

}
.active-link:active{
    color: #4D5AE5
}
/* #endregion navigation */
/* #region address */
.email , .phone {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #434455;
    
}


.email, .phone{
    display: block;
    padding: 24px 0;


}
.contacts-ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    

}
address{
    margin-left: auto;
    font-style: normal
}
/* #endregion address */
/* #endregion header */
/* #region order-service */
.order-button {
    display: block;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


.order-service {
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(./../images/background-image/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;
}

.order-service h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071428571428571;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;

}
.order-button { 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.order-button:hover
{
    background-color: #404BBF;

}
.order-button:focus
{
    background-color: #404BBF;

}
/* #endregion order-service */
/* #region link */
.contacts-link, .portfolio-link, .studio-link, .email, .phone {
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contacts-link:hover,.portfolio-link:hover,.studio-link:hover,.email:hover, .phone:hover {
    color: #404BBF;

}
.contacts-link:focus,.portfolio-link:focus,.studio-link:focus,.email:focus, .phone:focus {
    color: #404BBF;
}
.studio-link, .portfolio-link ,.contacts-link{
    color: #2E2F42;
    padding: 24px 0
}
.contacts-link:active {
    color: #404BBF;
}
/* #endregion link */
/* #region team */
.team {
    background-color: #F4F4FD;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    

    
}
.team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.team li{
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;

}

.team ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: 24px;
    
}
.team ul li img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: auto;


}
.info-about-team {
    padding: 32px 16px;

    text-align: center;
}

.info-about-team h3{
    margin-bottom: 8px;
}
.team ul li img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111111111111111;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
}
.team-item:hover{
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.social-link-team{
    display: flex;
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 0;

}
.social-link-icons-team{
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}  
.social-link-icons-team:hover{
    background-color: #404BBF;
}
.social-link-icons-team:focus{
    background-color: #404BBF;
}
/* #endregion team */
/* #region benefits */
.benefits h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.benefits p {
    margin-top: 0;
    font-size: 16px;
    width: 264px;
    
    
    
}
.benefits ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc((100% -(24 * 3)) / 4 );
    gap: 24px;
}
.icon-box{
    margin-bottom: 8px;
    display: flex;
    background-image: linear-gradient(to top, rgba(244, 244, 253, 1), rgba(244, 244, 253, 1));
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    width: 264px;
}
.benefits-icon{
    margin: auto auto;
    
}
.social-link-icons-team{
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.social-link-icons-team svg{
        fill: #F4F4FD;
}
/* #endregion benefits */
/* #region portfolio */


.portfolio ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: flex-start;
    
}

.portfolio-items {
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;


}
.portfolio-info {
    display: block;
    height: auto;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding-right: 8px;
    gap: 8px;
}
.portfolio ul li img {
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio h3{
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}
.portfolio h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111111111111111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;

}
.portfolio-info{
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;

}
/* .portfolio ul li p, .portfolio ul li h3 {
    padding-left: 8px;
} */
.portfolio{
    margin: 0 auto;
    overflow: hidden;
}
.overlay-portfolio{
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.overlay-portfolio p{
    color: #F4F4FD;
}
.portfolio-items{
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.portfolio-items:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-items:hover .overlay-portfolio {
    transform: translateY(0%);
}
.overlay-portfolio p{
    padding: 40px 32px 164px 32px;

}
.img-overlay{
    overflow: hidden;
    position: relative
}
/* #endregion portfolio */
/* #region footer */
footer {
    display: flex;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    
}
footer p{
    color: #f4f4fd;
    width: 264px;
    padding-top: 16px;
    display: flex;



}
.footer-logo-desc{
    flex-direction: column;
}
.social-media-title{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
.social-link{
    display: flex;
    column-gap: 16px;
}

.social-link-icons{
    display: flex;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    

}
.social-link-icons svg{
    fill: #F4F4FD;
}
.social-link-icons:hover{
    background-color: #31d0aa;
}
.social-link-icons:focus{
    background-color: #31d0aa;
}
.footer-desc{
    display: flex;
    column-gap: 120px;
    align-items: baseline
}

/* #endregion footer */